@import "@vars";

.wrapper {
    position: relative;
    flex-grow: 1;
    margin-right: 20px;

    &:after {
        content: "";
        position: absolute;
        background: center no-repeat
        url("/img/arrow.svg");
        width: 24px;
        height: 24px;
        top: 33%;
        right: 5%;
    }
}

.select {
    background: $white;
    border-radius: 15px;
    border-color: transparent;
    padding: 18px 20px;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    color: $dark_text;
    appearance: none;

    &::placeholder {
        color: $dark_text;
    }
}
