@import "@vars";

.numberSearch {
    position: relative;
}
.icon {
    background: center no-repeat url("../../../../../../public/img/search.svg");
    width: 100%;
    height: 100%;

    &__wrapper {
        border-radius: 50%;
        padding: 9px;
        background-color: $red;
        height: 47px;
        width: 47px;
        position: absolute;
        top: 15%;
        right: 2%;
    }
}
